.scroll_top_btn {
  position: fixed;
  right: 200px;
  bottom: 200px;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../img/double_up.svg) no-repeat center center;
  background-color: var(--orange);
  background-size: 50%;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: all 0.3s ease-out;
  z-index: 100;
}

.scroll_top_btn.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}